body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
    background-color: rgb(199, 199, 229);
}

header {
  height: 7%;
}

section {
  width:100%;
  height: calc(100vh - 7% - 6%);
  background-color: rgb(135, 111, 135);
  display:flex;
}

footer {
  height:6%;
}

.menu {
  width: 200px;                                          
  height: 100%;
  overflow-y: auto;
  background-color:aliceblue;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  position: relative;
}

li > div {
  display: block;
  padding: 10px;
  color: #333;
  cursor: pointer;
}

li > div:hover {
  background-color: #ccc;
}


.sub-menu {
  display: none;
  position: relative;
  background-color: #f0f0f0;
  color:#a39a9a;
  margin-left: 10px;
}


li:hover .sub-menu {
  display: block;
}

.sub-menu-2 {
  display: none;
  position: relative;
  top: 0;
  left:0;
  background-color: #e6e0e0;
  color:#a39a9a;
  margin-left: 8px;
}

li > .sub-menu > li:hover > .sub-menu-2 {
  display: block;
}

.draggable {
  cursor:move;
}

#canvas {
  font-family: "Courier New", monospace;
  left:200px;
  background-color: rgb(164, 141, 164);
  overflow-y: scroll;
  /* scrollbar-width: thin;
  scrollbar-color: purple rgba(0, 0, 0, 0.2); */
  /* border: 1px dashed purple; */
  display: block;
  height: 100%;
  width: 550px;
  box-sizing: border-box;

}

.dragover {
  border: 2px dashed purple !important;
  background-color:rgb(175, 156, 175) !important;
  opacity: 0.8 !important;
}

.code-block {
  background-color:rgb(125, 93, 125);
  padding:10px;
  margin: 10px;
  position:relative;
  font-weight:bold;
   
}

.delete-icon {
  position: absolute;
  top: 4px;
  right: 5px;
  margin: 5px;
  cursor: pointer;
}

.delete-icon i {
  font-size: 15px; /* adjust this value to make the trash icon bigger */
  color: black; /* adjust this value to change the color of the trash icon */
}

.plus-sign {
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 30px; /* adjust this value as needed */
  margin: 5px;
  cursor: pointer;
}

.properties-list {
  padding:5px;
}

.property-item {
  padding: 2px;
}